body
{
	background-image: url("https://cdn.hipwallpaper.com/i/75/53/0cFvKO.jpg");
}
	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
		width: 30%;
		height: 150px;
		background-color: wheat;
	}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/yellowtail/v17/OZpGg_pnoDtINPfRIlLohlvHwQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 3px;
	color: tomato;
	font-weight: bold;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
	background: white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding: 10px;
	float: none;
	text-align: left;
}
h1{
	color: orange;
	font-family: 'Akaya Kanadaka', cursive;
}
h3{
	font-family: 'Lora', serif;
	color: teal;
}
#username{
	font-family: 'Yellowtail', cursive;
	color: turquoise;
}
button{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input:hover{
	background-color: yellow;
}
.login_div2:hover{
	border: 5px solid rgb(102, 6, 73);
	width: 35%;
}
.login_div1:hover{
	border: 5px solid rgb(102, 6, 73);
	width: 35%;
}
#number_1,#number_2
{
	color: tomato;
	font-weight: bold;
}
h4{
	color: bisque;
	font-family: 'Akaya Kanadaka', cursive;
	width: 100px;
}
h4:hover{
	text-decoration: underline;
}